html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #335b96;
  min-height: 100%;
  /* background-color: yellowgreen; */
}

.App {
  text-align: center;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 0;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  
}

form label {

}

form input {
  margin:  5px auto 30px auto;
  padding: 8px;
}

button {
  margin: 10px auto;
background-color: #335b96;
color: whitesmoke;
padding: 5px 20px;
font-weight: bold;
border: 1px solid tan;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#resultBox {
  margin:  5px auto;
  max-width: 300px;
  color: whitesmoke;
  padding: 8px 20px;
  border-radius: 10px;
}

.footer {
  margin-top: auto;
  
}

.footer h5 {
  margin: 6px 0px;
  font-weight: bolder;
}

.footer div a {
  margin: 0px 8px;
}
