@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300;700&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #335b96;
  min-height: 100%;
  font-family: 'Stick No Bills', sans-serif;
  letter-spacing: 1px
}

.App {
  text-align: center;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 0;
  color: teal;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

form label {
}

form input {
  margin: 5px auto 30px auto;
  padding: 8px 20px;
  border: 2px solid teal;
  border-radius: 20px;

}

button {
  margin: 10px auto;
  background-color: #335b96;
  color: whitesmoke;
  padding: 8px 20px;
  font-weight: bold;
  border: 2px solid teal;
  border-radius: 20px;
  font-family: 'Stick No Bills', sans-serif;
  letter-spacing: inherit;
}

#resultBox {
  margin: 5px auto;
  max-width: 300px;
  color: whitesmoke;
  padding: 8px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.footer {
  margin-top: auto;
}

.footer h5 {
  margin: 40px 0px 5px 0px;
  font-weight: bolder;
}

.footer div a {
  margin: 0px 8px;
}
